
{% extends 'store/main.html' %}
{% load static %}


    {% block content %}
    <div class="row">

		{% for product in products %}
			<div class="col-lg-4">
				<img class="thumbnail" src="{{ product.imageURL }}">
				<div class="box-element product">
					<h6><strong>{{product.name}}</strong></h6>
					<hr>

					<a href="{% url 'add-to-cart' product.id %}" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</a>
					<a class="btn btn-outline-success" href="{% url 'detail' product.id %}">View</a>
					<h4 style="display: inline-block; padding-left: 60px;"><strong>${{product.price}}</strong></h4>

				</div>
			</div>
		{% endfor %}

		
	</div>

    {% endblock content %}

